.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #EDE7DC;
}

.homeImg {
  height: 500px;
  clip-path: circle();
  margin-top: 75px;
}

nav {
  background-color: #CCAFA5;
}

.headerLink {
  text-decoration: none;
  color: #EDE7DC;
  font-size: 1.4rem;
}

h1 {
  color: #BDC3CB;
}

.imageContainer {
  height: 300px;
 
}

.projectImg {
  height: 300px;

}

footer {
  margin-top: 70%;
  color: #BDC3CB;
}

footer h5 {
  color: #BDC3CB;
}

h2 {
  color: #BDC3CB;
}

h3 {
  color: #BDC3CB;
}

p {
  color: #9eacbf;
}